

/* BASE  */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-image: linear-gradient(#FFFAF1, #FA8072);
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: #111;
  font-family: Petrona, Georgia, serif;
  font-weight: 700;
}

a {
  color: #C24F42;
}
a:hover {
  color: salmon;
}

table {
  width: calc(100% - 40px);
  border-spacing: unset;
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 18px;
}
thead {
  background: salmon;
  color: papayawhip;
  font-size: 21px;
}
th {
  border: 0px;
  padding:  15px 10px 10px 10px;
}
td {
  border: 0px;
}

section {
  margin-bottom: 100px;
}


/* LAYOUT  */

.wrapper {
  max-width: 1080px;
  background: #FFF8;
  margin: 0px auto;
  padding: 40px 0px 50px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grow {
  flex-grow: 1;
}


/* UTILITY  */

.section-title {
  display: block;
  color: #553311;
  font-weight: 900;
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}


/* HEADER  */

.header-title {
  color: #821212;
}

.header-subtitle {
  font-size: 70%;
  font-style: italic;
  font-weight: 400;
}

.logo {
  width: 230px;
  max-width: 100%;
}


/* DOWNLOADS  */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 380px;
}

.download-button {
  display: block;
  min-width: 206px;
  background: #F27D7D;
  border: 0px;
  border-radius: 100px;
  margin: 0px auto 18px auto;
  padding: 10px;
  color: #000;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.download-button:hover {
  background: #F79494;
  color: #000;
}


/* VIDEO  */

.youtube {
  width: calc(100% - 16px);
  height: 393px;
  border: 2px solid #000;
  border-radius: 17px;
  margin: 0px 10px 0px 0px;
  box-shadow: 4px 4px 4px #0007;
}


/* RELEASES-TABLE COMPONENT */

.release-separator {
  border-top: 1px solid #F00;
}
.first-asset td {
  padding-top: 14px;
}
.last-asset td {
  padding-bottom: 14px;
}

/* OS-ICON COMPONENT  */

.os-icon {
  max-width: 24px;
}
