

/* BASE  */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-image: linear-gradient(#FFFAF1, #FA8072);
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: #111;
  font-family: Petrona, Georgia, serif;
  font-weight: 700;
}

a {
  color: #C24F42;
}
a:hover {
  color: salmon;
}

li {
  font-weight: 500;
}

code {
  display: inline-block;
  background: #DD7569;
  border: 1px solid #CE4536;
  border-radius: 50px;
  margin: 5px 0px 3px 0px;
  padding: 2px 8px 1px 8px;
  color: papayawhip;
}

table {
  width: calc(100% - 40px);
  border-collapse: collapse;
  border-radius: 32px;
  border-spacing: 0px;
  margin: 50px auto;
  font-size: 18px;
  box-shadow: 2px 2px 20px #FA80727D;
}
thead {
  color: papayawhip;
  font-size: 21px;
}
th {
  background: salmon;
  padding: 15px 10px 10px 10px;
}
th:first-of-type {
  border-radius: 30px 0px 0px 0px;
}
th:last-of-type {
  border-radius: 0px 30px 0px 0px;
}
tbody tr:last-of-type td:first-of-type {
  border-radius: 0px 0px 0px 30px;
}
tbody tr:last-of-type td:last-of-type {
  border-radius: 0px 0px 30px 0px;
}
td {
  background: #FFFFFF54;
  border: 0px;
}

section {
  margin-bottom: 100px;
}


/* LAYOUT  */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.wrapper {
  max-width: 1080px;
  background: #FFF8;
  margin: 0px auto;
  padding: 40px 0px 50px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.third {
  width: 33.33333%;
  text-align: center;
}

.grow {
  flex-grow: 1;
  width:  100%;
}


/* HEADER  */

.header-title {
  color: #821212;
}

.header-subtitle {
  font-size: 70%;
  font-style: italic;
  font-weight: 400;
}

.logo {
  width: 230px;
  max-width: 100%;
}


/* DOWNLOADS  */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 380px;
}

.download-button {
  display: block;
  min-width: 206px;
  background: #F27D7D;
  border: 0px;
  border-radius: 100px;
  margin: 0px auto 18px auto;
  padding: 10px;
  color: #000;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.download-button:hover {
  background: #F79494;
  color: #000;
}

html.win .download-button-win,
html.linux .download-button-lin,
html.mac .download-button-osx {
  border: 2px solid #F7D5A9C2;
  box-shadow: 0px 0px 3px 1px #FF1C00;
}


/* VIDEO  */

.youtube {
  width: calc(100% - 16px);
  height: 393px;
  background: #333;
  background-image: radial-gradient(#333, #000);
  border: 2px solid #000;
  border-radius: 17px;
  margin: 0px 10px 0px 0px;
  box-shadow: 4px 4px 4px #0007;
}


/* VALUE PROPOSITION  */

.value-prop {
  background: #FFFFFF91;
  background-image: linear-gradient(#FFEFD570, #FA80724F);
  border-radius: 43px;
  margin: 0px 14px 22px;
  padding: 0px 10px 11px;
  box-shadow: 2px 2px 2px #FA807247;
}
.value-prop h2 {
  margin-bottom: -8px;
}


/* RELEASES-TABLE COMPONENT */

.release-separator {
  border-top: 1px solid salmon;
}
.first-asset td {
  padding-top: 14px;
}
.last-asset td {
  padding-bottom: 14px;
}


/* OS-ICON COMPONENT  */

.os-icon {
  max-width: 24px;
}


/* OS-PROGRESS-BARS */

.progress-bar-container {
  display: flex;
  width: calc(100% - 64px);
  margin: 0px auto;
}
.progress-bar {
  flex-grow: 0;
  height: 10px;
  min-width: 10px;
  background-image: linear-gradient(#FFFFFF47, #0000004F);
}
.progress-bar-win {
  background-color: #531;
  border-radius: 10px 0px 0px 10px;
  color: papayawhip;
}
.progress-bar-lin {
  background-color: papayawhip;
}
.progress-bar-osx {
  background-color: #DD7569;
  border-radius: 0px 10px 10px 0px;
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 32px 0px 32px;
}
.legend {
  height: auto;
  border-radius: 100px;
  margin: -3px 25px 0px 6px;
  padding: 3px 9px;
}


/* TECH COLOPHON */

.tech-logo {
  width:  150px;
  max-width: 100%;
}


/* UTILITY  */

.section-title {
  display: block;
  color: #553311;
  font-weight: 900;
  text-align: center;
}
.section-subtitle {
  margin: 0px 32px 10px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.pt-30 {
  padding-top:  30px;
}

.font-500 {
  font-weight: 500;
}


/* MEDIA QUERIES  */

@media (max-width: 909px) {
  .row {
    flex-direction: column;
  }
  .youtube {
    margin: 20px 8px 0px 8px;
  }
}
